<% include ../partials/head %>
<section class="options-content">
  <div>
    <h2>Photo frame PWA Options</h2>
    <p class="subhead mdl-color-text--grey-700">
      Welcome to the photo frame sample. Select an option above to load images
      from your Google Photos library. <br />Select a photo or use the "View in
      frame" button to start your photo frame experience!
    </p>
  </div>
</section>

<label for="switch-btn" class="mdl-switch mdl-js-switch">
  <input type="checkbox" id="switch-btn" class="mdl-switch__input" />
  <span class="mdl-switch__label">Volume off/on</span>
</label>

<% include ../partials/dialogs %> <% include ../partials/js %>
<script src="/js/options.js"></script>

<% include ../partials/footer %>
